.table {
  width: 100%;
}

.table thead {
  background-color: black;
}

.table tbody tr:nth-child(2n) {
  background-color: lightgray;
  color: black;
}

.table tbody tr:nth-child(2n + 1) {
  background-color: grey;
}

.table button {
  background-color: lightcoral;
}
